{% extends 'base.html.twig' %}

{% block title %}
    {{page}}
{% endblock %}


{% block body %}
    <style>
        header {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #11A770;
            height: auto;
            color:white;
            width: 100%;
            border:none;
        }
    </style>
    <div class="content">
        <div class="container">
        <div class="svg" style="display:inline-block">
                <img style="width:80%" src="assets/football.svg"/>
            </div>
            <div class="text">
                <h1>It's never been easier
to play football</h1><br>
                <div class="block">
                    <div class="butt">
                    <a href="{{path('stadiums')}}" style="text-decoration:none"><p>BROWSE STADIUMS</p></a>
                </div>
                <div class="butt">
                    <p>CONTACT US</p>
                </div>
                </div>
                <div class="join">
                <p style="font-size:16px">Start playing now</p>
                
                </div>
                <img id="fleche" src="assets/fleche.svg"/>
            </div>
            
            
        </div>
    </div>
    <div class="content" style="background-color:white">
        <div class="container">
            <div class="right" >
            <img src="assets/goal.svg" style="width:600px"/>
            </div>
            <div class="card">
                <h1>Save Time & Effort</h1>
                <h2>By using our services</h2>
                <div class="buttt">
                    <a href="{{path('login')}} "style="text-decoration:none;color:white"><h1>Sign In</h1></a>
                </div>
            </div>
        </div>
    </div>
    <div class="content" style="background-color:white">
        <div class="container" style="  font-size:18px;color:#575757">
            <h1 id="tak">ABOUT </h1><h1 style="color:#00BFA6;display:inline-block;margin-left:5px;">TAKWIRA</h1>
            <br>
            <p style="min-width:250px;width:50%;margin:auto;margin-top:20px;margin-bottom:20px;">
            She sat in the darkened room waiting. It was now a standoff. He had the power to put her in the room, but not the power to make her repent. It wasn't fair and no matter how long she had to endure the darkness, she wouldn't change her attitude. At three years old, Sandy's stubborn personality had already bloomed into full view.
            </p>
            <img src="assets/line.svg">
            <div class="achievements first">
                <div class="achievement firstel">
                    <h1 class="counter" style="font-size:50px;color:#00BFA6">10+</h1>
                    <p style="letter-spacing:5px">STADIUMS</p>
                </div>
                <div class="achievement firstel">
                    <h1>24h/7j</h1>
                    <p >Service</p>
                </div>
                <div class="achievement firstel">
                    <h1 class="counter">10+</h1>
                    <p>STADIUMS</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content" id="cont" style="">
        <div class="container" style="text-alignt:left;margin:auto">
            <h2 style="margin-left:0px;margin-top:5%;text-alignt:left;width:100%;font-size:80px">TAKWIRA</h2>
            <h3 style="max-width:800px;width:100%;text-alignt:left;margin-bottom:10%">
                A platform focused on performance & service
            </h3>
        </div>
    </div>
    <div class="content" style="background-color:white">
        <div class="container" style="  font-size:18px;color:#575757">
            <h1 class="tak"id="tak">CONTACT </h1><h1 class="tak" style="color:#00BFA6;display:inline-block;margin-left:5px;">INFO</h1>
            
            <div class="achievements second" style="margin-top:30px">
                <div class="achievement secondel">
                    <h1 style="font-size:18px">Adress</h1>
                    <p>1065  Hood Avenue</p>
                </div>
                <div class="achievement secondel">
                    <h1 style="font-size:18px">Phone</h1>
                    <p >+216 99865808</p>
                </div>
                <div class="achievement secondel">
                    <h1 style="font-size:18px">Email</h1>
                    <p>hamdouni.medamin@gmail.com</p>
                </div>
                <div class="achievement secondel">
                    <h1 style="font-size:18px">Facebook</h1>
                    <p>@takwira</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
