{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner">
        
    </div>
    <div class="stad-container">
        <div class="stad-cont">
            <div class="buttons">
                <a href="#" class="active"><p>All Stadiums</p></a>
                <a href="#"><p>Recently Viewed</p></a>
            </div>
            <div class="menus">
                <div class="cities-menu">
                    <div id="toggle" class="toggle-menu">
                        <p>Cities</p>
                        <div class="dropdownarrow">
                            <img src="assets/dropdownarrow.svg"/>
                        </div>
                    </div>
                    
                </div>
                
                <input type="text" placeholder="Search" class="search">

                </input>
                <img class="filters" style="width:70px;position:relative;top:8px;left:5px;" src="assets/filters.svg"/>
                <div id="dropdownmenu">
                        <div class="button">

                        </div>
                    </div>
            </div>
            <div class="stade">

            </div>
            <div class="stade">

            </div>
            <div class="stade">

            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}