
.element{
    padding-top:20px !important;
    
    padding-bottom:20px !important;
}
table{
    border-collapse: collapse;
    margin-top:20px;
}
tr{
    border:1px solid lightgray !important;
    
}
tr:nth-child(even){background-color: #f2f2f2;}
td{
    padding:10px;
    min-width: 50px;
}
table{
    width:100%;
}
.inline{
    margin-top:20px;
    
}
