<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="card.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Card</title>
</head>
<body>
    <div class="container">
        
        <div class="card" id="trigger">
            <div class="overlay">
                
            </div>
            <div class="content">
                <div class="line"></div>
                <h1>Med Amine Hamdouni</h1>
                <div class="parag">
                    <h2>hamdouni.medamin@gmail.com</h2>
                    <p>Lorem Ipsum Lorem Ipsum</p>
                    
                    <div class="icons">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </div>
                
                </div>
            </div>
            
        </div>
        <div style="position: relative;">
        <div class="btn">
            <i class="fa fa-arrow-right" aria-hidden="true" id="icon"></i>
        </div>
    
        <div class="side" id="show">
            <h1>Hellow</h1>
        </div>
        </div>
    </div>
</body>
<script src="https://use.fontawesome.com/dbb0b9de2b.js"></script>
<script src="card.js"></script>
</html>